<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <p class="h4 mb-4">Edit Customer</p>
          <form action="/customer/edit/{{customer.id}}" method="POST">
            {% csrf_token %}

            <div class="row g-2 align-items-center mb-3">
              <div class="col-2">
                <label for="name" class="col-form-label">Name</label>
              </div>
              <div class="col-auto">
                <input
                  type="text"
                  id="name"
                  name="name"
                  class="form-control"
                  value="{{customer.name}}"
                  required
                />
              </div>
            </div>

            <div class="row g-2 align-items-center mb-3">
              <div class="col-2">
                <label for="email" class="col-form-label">Email</label>
              </div>
              <div class="col-auto">
                <input
                  type="email"
                  id="email"
                  value="{{customer.email}}"
                  name="email"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="row g-2 align-items-center mb-3">
              <div class="col-2">
                <label for="phone" class="col-form-label">Phone</label>
              </div>
              <div class="col-auto">
                <input
                  type="number"
                  id="phone"
                  value="{{customer.phone}}"
                  name="phone"
                  class="form-control"
                  required
                />
              </div>
            </div>
            <div class="row g-2 align-items-center mb-3">
              <div class="col-2">
                <label for="desc" class="col-form-label">Desc</label>
              </div>
              <div class="col-auto">
                <textarea id="desc" name="desc" class="form-control" required>
{{customer.desc}}</textarea
                >
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
